*{
	font-family: consiva,verdana,sans-serif;
	font-size: 18px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*Header*/
header{
	height: 60px;
	background: -webkit-linear-gradient(top left, #60cbc3, #51969a);
	background: -moz-linear-gradient(bottom left, #60cbc3, #51969a);
	background: -o-linear-gradient(bottom left, #60cbc3, #51969a);
	background: linear-gradient(to bottom right, #60cbc3, #51969a);
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
}
.logo{
	font-size: 18px;
	text-decoration: none;
	color: #000;
	font-weight: 900;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 1rem;
	text-transform: capitalize;
}
.nav-links{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*background-color: #51969a;*/
}
.nav-links li{
	margin-right: 1rem;
}
.nav-links a{
	color: #fff;
	text-decoration: none;
}

.nav-links:hover{
	border-top: none;
}

	/*Style dans bouton toggle*/
.checkbtn{
	font-size: 25px;
	color: #000;
	float: right;
	line-height: 80px;
	margin-right: 0;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
nav ul li:hover{
	border-bottom: 2px solid red;
}
nav ul:hover li {
	padding: 6px 0px 4px 0px;
}
/*couverture*/
#cover{
	min-height:350px;
	background: url('../img/pantalon3.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	flex-basis: 100%;
}
.call_icon{
	padding-top: 4px;
}
#all{
	display: none;
}
h1{
	font-size: 1.2em;
}
div p{
	font-size: 0.8em;
}
a.btn{

	background-color: #5473ff;
	color: #fff;
	text-decoration: none;
	padding: 6px;
	margin-top: 15px;
	font-size: 0.8em;
	border-radius: 6px;
	text-align: center;
}
img.icn{
	margin: 5px 30px;
}
img.icn_gmail{
	margin: 4px 50px 0px 30px;
}
div.descrip{
	margin: 70px 0px 0px 0px;
}
#boxes{
	width: 80%;
	flex-basis: 90%;
}
#boxes h1{
	margin: 35px 0px 25px 3%;
}
button{
	background-color: #0a83c1;
	border-radius: 16px;
	padding: 6px;
	font-size: 14px;
	color: #eee;
	font-family: halvetica, verdana, sans-serif;
}

button:hover{
	background-color: transparent;
	color: green;
}

section div.container{
	/*background: #a7ecff;*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.container .box{
	width: 28%;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border: 1px solid #febcca;
}
.container .box img{
	width: 100%;
}
.align{
	margin-left: 10px;
}
.btn_cover{
	margin-top: 20px;
	display: inline-block;
}
.cmd{
	display: none;
}
body{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section.coordev{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	background: #8f9896;
	text-align: center;
}
div.bx{
	width: 400px;
	height: 80px;
	background: #EEE;
	margin: 15px;
	line-height: 1.2;
	border-radius: 15px;
}
div.box p{

	font-family: arial, serif;
}
.size, .size a{
	font-size: 14px;
}
div p.mod{
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: underline;
}
.center{
	margin: auto;
}
div.s_net img{
	margin: 2px 5px;
}
footer{
	background-color: #eee;
	min-height: 80px;
	text-align: center;
	font-family: arial, serif;
	flex-basis: 100%;
	padding: 10px;
}

	/*Media queries*/

@media screen and (min-width: 701px) and (max-width: 850px){
	nav{
		margin-right: -30px;
	}
	.nav-links li a{
		font-size: 16px;
		font-weight: 900;
	}
	.btn{
		background-color: blue;
	}

}
@media screen and (max-width: 700px){

.checkbtn{
		display: block;
		margin-right: -20px;
	}
	ul{
		position: fixed;
		width: 50%;
		height: 50vh;
		background: #706b75;
		top: 0px;
		left: -100%;
		text-align: left;
		transition: all .5s;
		display: flex;
		flex-direction: column;
	}
	header{
		width: 100%;
	}
	nav ul li{
		margin: 10px 20px;
		line-height: 10px;
	}
	nav ul li a{
		font-size: 16px;
		font-weight: 900;
	}
	a.active,a:hover{
		border-bottom: 0;
	}
	nav ul li:hover{
	border-bottom: none;
}
	#check:checked ~ ul{
		left: 0;
	}

div.container{
	display: flex;
	flex-direction: column;
	flex-basis: 90%;
	}
#boxes{
	width: 100%;
	}
#boxes h1{
	margin: 35px 0px 25px 0px;
	}
.container .box{
	width: 100%;
	}
.container .box img{
	width: 100%;
	}
.align{
	margin-left: 15px;
	margin-top: 6px;
	line-height: 1.5;
	}
div.bx{
	width: 80%;
	height: 100px;
	}
div.center{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
.size, .size a{
	font-size: 16px;
	}
.mod a{
	margin-bottom: 5px;
	}
	.btn_cover{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
.hide{
	display: none;
	}

	#all{
		display: flex;
		justify-content: space-around;
		margin-top: 10px;
	}
	#all .icn{
		padding: 0px;
		margin: 0px;
	}
	.cmd{
		display: block;
		width: 120px;
		margin: 20px auto;
		background-color: #e2355a;
	}
}
@media screen and (max-width: 850px){
	.nav-links{
		padding-top: 20px;
	}
}